<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <runtime> <!--This runtime specification allows us to catch accessviolation
    errors that we otherwise wouldn't be able to catch. If you remove these and
    then try to start the video feed without a camera connected to your 
    computer, the program will crash.-->
        <legacyCorruptedStateExceptionsPolicy enabled="true" />
    </runtime>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
    </startup>
  <appSettings>
    <add key="ConsumerKey" value="7CwgMLZZwbhq7QC26Sbfm1mDy"/>
    <add key="ConsumerSecret" value="UOAwy7mtTfdvbyKyF7nmxcAw67QWopi47k4YS9Y6SXrAHa8RLR"/>
    <add key="AccessToken" value ="766632042-xxowffpD0CS686yyYxAPRmqwC1VKmZBBcSgwzJR9"/>
    <add key="AccessTokenSecret" value="Oahsd82I5tanZ3rmlJJFmFgBRX0iZln7No963QSUoseC1"/>
  </appSettings>
</configuration>
