<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <runtime> <!--This runtime specification allows us to catch accessviolation
    errors that we otherwise wouldn't be able to catch. If you remove these and
    then try to start the video feed without a camera connected to your 
    computer, the program will crash.-->
        <legacyCorruptedStateExceptionsPolicy enabled="true" />
    </runtime>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
    </startup>
</configuration>
